@import "../../../../assets/styles/custom-kit/variable.scss";
.btn-collapse{
    left: 0;
}
#sidebar {
    display: table-cell;
    background: $blue-dark;
    color: $white;
    min-width: 200px;
    width: 200px;
    height: 100vh;
    min-height: 100vh;

    // transition: 0.5s ease-out;
    .sidebar-items{
        padding-right: 15px;
    }
    img {
        box-shadow: $box-shadow-xl;
    }
    :first-child span {
        font-size: $font-size-2;
        font-weight: bold;
    }
    .item-menu {
        &:hover {
            transform: scale(1.1); ////size  on hover ob self
            transition: transform 0.3s ease-out; // speed to change size 1 to size 2 on HOVER
            cursor: pointer;
        }
    }
    .sidebar-header {
        box-sizing: border-box;
    }
}

/* ---------------------------------------------------
    Toggling the sidebar
----------------------------------------------------- */
#sidebar.active {
    min-width: 85px;
    max-width: 85px;
}
#sidebar:not(:active) {
    transition: 0.5s ease-out;
}

#sidebar.active span {
    display: none;
}
#sidebar.active .sidebar-header {
    width: 80px !important;
}
#sidebar.active .sidebar-header h5 {
    display: none;
}
#sidebar.active .sidebar-items i {
    margin-right: 10px;
    display: block;
    font-size: $font-size-7;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-right: -80px !important;
    }

    #sidebar {
        margin-right: 0;
    }

    #sidebar.active span {
        display: none;
    }
    #sidebar.active .sidebar-header {
        width: 80px !important;
    }
    #sidebar.active .sidebar-header h5 {
        display: none;
    }
    #sidebar.active .sidebar-items i {
        margin-right: 15px;
        display: block;
        font-size: $font-size-7;
    }
}
