<div class="navbar row m-0 ">
    <div class="menuIcon col-sm-10"></div>
    <div class="col-sm-2 content">
        <div class="">
            <img [src]="infoUser.img" alt="Admin" width="45" height="40"
                class="rounded-circle box-shadow-lg">
        </div>
        <div class="dropdown">
            <ng-multiselect-dropdown class="menu singleselect" [placeholder]="infoUser.userName" 
            [settings]="dropdownSettings"
                [data]="userMenu" (onSelect)="onAdminSelect($event)">
            </ng-multiselect-dropdown>
        </div>

    </div>
</div>