<div class="navbar row flex-row justify-content-end align-items-center m-0 ">
    <div class="menuIcon col-md-10"></div>
    <div class="col-md-2 d-flex flex-row align-items-center justify-content-around">
        <div class="">
            <img src="../../assets/pic/profile.jpg" alt="Admin" width="45" height="45"
                class="rounded-circle box-shadow-lg  ">
        </div>
        <div class="dropdown">
            <ng-multiselect-dropdown  [placeholder]="'ادمین'" [settings]="dropdownSettings"
                [data]="adminData" (onSelect)="onAdminSelect($event)">
            </ng-multiselect-dropdown>
        </div>

    </div>
</div>