@import "../../../../assets/styles/custom-kit/variable.scss";

.navbar {
    background-color: $cool-gray-40;
    padding         : 12px 10px 12px 0px;

    .dropdown {
        position    : absolute;
        min-width   : 100px !important;
        margin-left : 142px;
        color       : $blue-dark;
        margin-right: -30px;
        font-size: $font-size-2;

        .menu:hover {
            cursor: pointer !important;
        }

    }

    .content {
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : flex-end;
    }
}

///////////Media///////////////////
@media (max-width:540px) {

    .navbar {
        .dropdown {
            position   : absolute;
            min-width  : 100px !important;
            margin-left: 53px !important;
            color      : #00274c;
            max-height : 48px !important;
            font-size: $font-size-1;
        }
    }

    .content {
        justify-content: flex-end !important;
        align-items    : flex-end !important;
    }
    
}