@import "../../../../assets/styles/custom-kit/variable.scss";

.navbar {
    background-color: $gray-20;
    padding         : 12px 10px 12px 0px;

    .dropdown {
        position   : absolute;
        min-width  : 100px !important;
        margin-left: 142px;
        color      : $blue-dark;

        .menu:hover {
            cursor: pointer !important;
        }

    }

    .content {
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : flex-end;
    }
}