<div dir="rtl" class="container p-1">
    <div id="nav-top" class="row ">
        <div class="col-sm-12" style="text-align:center;">
            <h6>پروازهای رزرو شده</h6>
        </div>
    </div>
    <div id="content" class="row pt-2">
        <div class="col-sm-12" style="width: 100%; ">
            <table class="table-hover caption-top table align-middle ">
                <caption>
                    <div id="header-card" class="X row p-0 ">
                        <div id="searchBox" class="X col-sm-10 col-md-6 ">
                            <app-search-box [placeHolder]="'جستجو'" (keyupChange)="onKeyup($event)" [size]="'small'">
                            </app-search-box>
                        </div>
                    </div>
                </caption>
                <thead class="">
                    <tr>
                        <th scope="col" class="overflow-hidden" style="width:4%"> #</th>
                        <th scope="col" class="overflow-hidden" style="width:8%"> کاربر</th>
                        <th scope="col" class="overflow-hidden" style="width:8%">مبدا</th>
                        <th scope="col" class="overflow-hidden" style="width:8%"> مقصد</th>
                        <th scope="col" class="overflow-hidden" style="width:8%"> شماره پرواز</th>
                        <th scope="col" class="overflow-hidden" style="width:10%"> هواپیمایی</th>
                        <th scope="col" class="overflow-hidden" style="width:12%">تاریخ</th>
                        <th scope="col" class="overflow-hidden" style="width:10%"> قیمت</th>
                        <th scope="col" class="overflow-hidden" style="width:34%"> مسافرین</th>

                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let item of listReserved  | slice: (currentPage-1) * elementPerpage : (currentPage-1) * elementPerpage + elementPerpage ">
                        <td style="width: 4%">{{item.id}}</td>
                        <td class="overflow-hidden" style="width: 8%">{{item.userName}}</td>
                        <td class="overflow-hidden" style="width: 8%">{{item.source}}</td>
                        <td class="overflow-hidden" style="width: 8%">{{item.destination}}</td>
                        <td class="overflow-hidden" style="width: 8%">{{item.flightNumber}}</td>
                        <td class="overflow-hidden" style="width: 10%">{{item.airline}}</td>
                        <td class="overflow-hidden" style="width: 12%">{{item.date}} {{item.time}}</td>
                        <td class="overflow-hidden" style="width: 10%">{{item.price}}</td>
                        <td class="overflow-hidden" style="width: 34%">
                    <tr class="title">
                        <th scope="col" style="width:40%">نام </th>
                        <th scope="col" style="width:15%"> جنسیت </th>
                        <th scope="col" style="width:10%">سن </th>
                        <th scope="col" style="width:35%"> </th>
                    </tr>
                    <tr *ngFor="let data of item.listPassengers ">
                        <td style="width:10%" class="overflow-hidden">{{data.fName}}{{data.lName}}</td>
                        <td style="width:10%" class="overflow-hidden" *ngIf="data.gender== gender.female">خانم</td>                        
                        <td style="width:10%" class="overflow-hidden" *ngIf="data.gender== gender.male">آقا</td>
                        <td style="width:10%" class="overflow-hidden">{{data.age}}</td>
                        <td style="width:35%" ></td>

                    </tr>
                    </td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="currentPage" [maxSize]="5"
                [boundaryLinks]="false" [pageSize]="elementPerpage" class="d-flex justify-content-end p-2">
            </ngb-pagination>
        </div>
    </div>

</div>