<div class="container">
  <div style="padding-bottom: 20px">
    <button [routerLink]="'../create'">شهر جدید</button>
  </div>
    <tabel>
      <tr>
        <th>شهر</th>
        <th>---</th>
      </tr>
      <tr
        style="border: 2px solid black"
        *ngFor="let city of listCity; trackBy: cityById"
      >
        <td>{{ city.name }}</td>
        <td>
          <i class="fas fa-edit p-2" [routerLink]="'../update/' + city.id"></i>
          <i class="fas fa-trash p-2" (click)="delete(city.id)"></i>
        </td>
      </tr>
    </tabel>
</div>
