<div  dir="rtl"    class="container p-1">
  <div id="nav-top"  class="row ">
    <div class="col-sm-12 col-md-6 col-lg-3 ">
      <app-search-box
        [placeHolder]="'جستجو'"
        (keyupChange)="onKeyup($event)"
        [size]="'small'"
      ></app-search-box>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 ">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 ">
    </div>
  </div>
  <div id="content"  class="row pt-2">
    <div class="col-12 col-sm-12" style="width: 100%; overflow-x: auto;">
      <table class="table-hover caption-top table align-middle ">
        <caption class="">
          <div class="header row flex-row justify-content-between align-items-center">
            <h7 class="col-md-2 "> لیست شهرها</h7>
            <div class="btn-save col-md-10 " >
              <button type="submit" class="btn-res button-primary button-sm-1 " [routerLink]="'../create'">جدید
                <i class="fas fa-plus float-left" ></i>
              </button>
            </div>            
          </div>
        </caption>
        <thead>
          <tr>
            <th scope="col" style="width:10%">#</th>
            <th scope="col" style="width:20%">شهر</th>
            <th scope="col" style="width:45%"></th>
            <th scope="col" style="width:25%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let city of listCity  | slice: (currentPage-1) * elementPerpage : (currentPage-1) * elementPerpage + elementPerpage  trackBy: cityById">
            <td class="shrink" style="width:10%">{{city.id}}</td>
            <td style="width:20%">{{ city.name }}</td>
            <td style="width:45%"> </td>
            <td id="detail-td" style="width:25%">
              <i class="fas fa-edit p-2" [routerLink]="'../update/' + city.id"></i>
              <i class="fas fa-trash p-2" (click)="delete(city.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination 
        [collectionSize]="collectionSize" 
        [(page)]="currentPage" 
        [maxSize]="5" 
        [boundaryLinks]="false"
        [pageSize]="elementPerpage" 
        class="d-flex justify-content-end p-2">
      </ngb-pagination>
    </div>
  </div>
</div>