@import "../../../../assets/styles/custom-kit/variable.scss";


caption{
    padding-left: $spacing-09;
    padding-right: $spacing-02;
    .btn-save{
        width: $width-sm; 
    }
    .header{
        padding-right: 10px;
        h7{
            width: $width-md;
            display: inline-flex;
            justify-content: flex-start;
        }
    }
}