@import "../../../../assets/styles/custom-kit/variable.scss";

.container {
    input {
        width           : $width-lg;
        height          : 38px;
        font-size       : $font-size-2;
        border          : 1px solid $dark !important;
        margin-top      : 4px;
        padding         : 0px;
        background-color: rgba(255, 255, 255, 0.5) !important;

        &:focus {
            border: 1px solid $yellow-60 !important;
        }
    }

    input::-webkit-input-placeholder {
        color  : $black !important;
        opacity: 1 !important;
    }

    .error-box {
        margin-top: -22px;
    }
}

#countPassenger {
    display         : none;
    background-color: $white !important;

    label {
        font-size  : $font-size-1;
        font-weight: 600;
    }
    span{
        font-size: $font-size-2;
    }
}

/* ---------------------------------------------------
Toggling the countPassenger
----------------------------------------------------- */
#countPassenger.active {
    display    : block;
    min-height : 120px;
    min-width  : 260px;
    line-height: 27px;
}