@import "../../../../assets/styles/custom-kit/variable.scss";
@import "../../../../assets/styles/global.scss";




.content{
    display: flex;
    flex-direction: column;
}

input{
    width: 200px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}