@import "../../../../assets/styles/custom-kit/variable.scss";
ng-multiselect-dropdown{
    width: 300px;
}
.btn-date{
    top:7px;
    right: 17px;
}

.input-Date{
    padding-right: 35px;
    font-size: $font-size-2;
    color: black;
    &:read-only{
        background-color: $white;
    }
}
ngb-timepicker {
    direction: ltr !important;
    float: right;
}
.error-box{
    margin-top: -17px;
}
.content{
    border-color: $gray-30 !important;
}

// ngb-timepicker.changeSize .btn-link {
//     padding: 0 !important;
// }
// ngb-timepicker.changeSize .ngb-tp-input-container {
//     width: 150px !important;
//   }
//   ngb-timepicker.changeSize .ngb-tp-input{
//     padding: 0;
//     font-size: 80px;
//   }
  