<div class="container pt-4 " *ngIf="formFlight">
  <form [formGroup]="formFlight">
    <div class="row  rounded-3 pb-5 pt-4 justify-content-md-center border border-1 content">
      <div class="col col-md-2"> </div>
      <div class="col-md-8 ">
        <div class="row">
          <div class="col-md-6 ">
            <label class="col-form-label-sm col-2">مبدا</label>
            <ng-multiselect-dropdown 
              class="form-control-sm col-5" 
              [placeholder]="'مبدا'" 
              [settings]="dropdownSettings"
              [data]="listCity" 
              (onSelect)="onSourceSelect($event)" 
              formControlName="source"
              [ngClass]="{
                error: (!formFlight.get('source')?.valid || formFlight.get('source')?.value === '') && isClickOnSaveBtn
              }">
            </ng-multiselect-dropdown>
            <div class="error-box">
              <app-error-message *ngIf="
                  !formFlight.get('source')?.valid &&
                  isClickOnSaveBtn &&
                  formFlight.get('source')?.value === ''" [message]="'فیلد خالی است'">
              </app-error-message>
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-form-label-sm col-3">مقصد</label>
            <ng-multiselect-dropdown class="form-control-sm col-5" [placeholder]="'مقصد'" [settings]="dropdownSettings"
              [data]="listCity" (onSelect)="ondestinationSelect($event)" formControlName="destination"
              [ngClass]="{
                error: (!formFlight.get('destination')?.valid || formFlight.get('destination')?.value === '') && isClickOnSaveBtn
              }">
            </ng-multiselect-dropdown>
            <div  class="error-box">
              <app-error-message *ngIf="
                  !formFlight.get('destination')?.valid &&
                  isClickOnSaveBtn &&
                  formFlight.get('destination')?.value === '' " [message]="'فیلد خالی است'">
              </app-error-message>
            </div>
          </div>
        </div>

        <div class="row mt-4 ">
          <div class="col-md-6 ">
            <label class="col-form-label-sm">خط پرواز</label>
            <ng-multiselect-dropdown 
              class="form-control-sm dropdown" 
              [placeholder]="'خط پرواز'" 
              [settings]="dropdownSettings"
              [data]="listAirline" 
              (onSelect)="onAirlineSelect($event)" 
              formControlName="airline"
              [ngClass]="{
                error: (!formFlight.get('airline')?.valid || formFlight.get('airline')?.value === '') && isClickOnSaveBtn
              }">
            </ng-multiselect-dropdown>
            <div class="error-box">
              <app-error-message *ngIf="
                  !formFlight.get('airline')?.valid &&
                  isClickOnSaveBtn &&
                  !formFlight.get('airline')?.value" [message]="'فیلد خالی است'">
              </app-error-message>
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-form-label-sm">شماره پرواز</label>
            <input class="form-control" type="text" formControlName="flightNumber" 
            [ngClass]="{
              error: (!formFlight.get('flightNumber')?.valid || formFlight.get('flightNumber')?.value === '') && isClickOnSaveBtn
            }"/>
            <div>
              <app-error-message *ngIf="
                !formFlight.get('flightNumber')?.valid &&
                isClickOnSaveBtn &&
                !formFlight.get('flightNumber')?.value" [message]="'فیلد خالی است'">
              </app-error-message>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6 mt-5 position-relative ">
            <div>
              <input 
                class="form-control input-Date"  
                placeholder="تاریخ" 
                readonly
                name="dp" 
                formControlName="date"
                ngbDatepicker 
                #d="ngbDatepicker" 
                [firstDayOfWeek]="6" 
                (focus)="d.open()" 
                [placement]=" placement"
                [autoClose]="true"
                [ngClass]="{
                  error:formFlight.get('date')?.value === '' && isClickOnSaveBtn
                }"
              >
              <div class="btn-date position-absolute ">
                <button class="far fa-calendar-alt button-Datepicker" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
            <div>
              <app-error-message *ngIf="
                !formFlight.get('date')?.valid &&
                isClickOnSaveBtn &&
                !formFlight.get('date')?.value" 
                [message]="'فیلد خالی است'">
              </app-error-message>
            </div>
          </div>
          <div class="col-md-6 mt-1 ">
            <ngb-timepicker class="ngtime" formControlName="time"  
            [ngClass]="{
              error: (!formFlight.get('time')?.valid || formFlight.get('time')?.value === '') && isClickOnSaveBtn
            }">
            </ngb-timepicker>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-6">
            <label for="price" class="col-form-label-sm">قیمت</label>
            <input class="form-control" type="text" formControlName="price" id="price"
            [ngClass]="{
              error: (!formFlight.get('price')?.valid || formFlight.get('price')?.value === '') && isClickOnSaveBtn
            }"/>
            <div>
              <app-error-message *ngIf="
                !formFlight.get('price')?.valid &&
                isClickOnSaveBtn &&
                !formFlight.get('price')?.value" [message]="'فیلد خالی است'">
              </app-error-message>
            </div>
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row  mt-5">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4 pl-5">
                <button class="button button-primary button-sm-1 float-left " type="submit"
                  (click)="save()">ذخیره</button>
              </div>
              <!-- [disabled]="formFlight.invalid" -->
              <div class="col-md-4">
                <button class="button button-cancel button-sm-1 float-right " type="button"
                  (click)="cancel()">انصراف</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 btn "></div>
        </div>
      </div>
      <div class="col col-md-2"></div>
    </div>
  </form>
</div>
<!-- {{formFlight.get('time')?.value|jscon}} -->