@import " ../../../../assets/styles/custom-kit/variable.scss";

.container-fluid {
    height          : 100vh;
    width           : 100%;
    background-color: $gray-20;
    overflow-y      : auto;

    .header {
        position  : relative;
        box-shadow: $box-shadow-xs;
        z-index   : 10 !important;
    }

    .content {
        position: relative;
        z-index : 1 !important;
        height  : 560px;
    }
}

@media (max-width:540px) {

}