@import "../../assets/styles/custom-kit/variable.scss";


.container-fluid {

    background-image   : url('../../assets/pic/bg--login.jpg');
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center center;
    position           : fixed;
    height             : calc(100vh - 0px);
}

.card {
    width      : 350px;
    height     : 300px;
    position       : relative;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    margin         : 20px 90px auto;
    float          : none;
    border         : 0px;
    border-radius  : 0px;
    background     : transparent;
    box-shadow     : $box-shadow-sm;
}


.card-body {
    position       : relative;
    padding        : 0px;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: flex-end;
    padding: 10px 5px 5px 5px;

    h4 {
        letter-spacing: -2px;
    }

    label {
        position      : absolute;
        font-size     : $font-size-1;
        color         : $gray-80;
        transition    : .9s !important;
        pointer-events: none !important;
        right         : 30px;
        padding-right : 20px;

        i {
            right    : 0px;
            font-size: $font-size-2;
            top      : 5px;
            color    : $gray-80;
        }
    }

    input {
        width        : 300px;
        border-radius: 0px;
        border       : 0px;
        border-bottom: 1px solid $black !important;
        outline      : none !important;
        background   : transparent !important;
        margin-right : 30px;
        padding      : 3px;
        z-index      : 100;

        // &:focus,:valid {
        // box-shadow: none !important;
        // outline   : none !important;

        // }
    }
     input:focus {
        box-shadow: none !important;
        outline   : none !important;
    }
    
     input:focus+label,
     input:valid+label {
        transform   : translate(4%, -110%) scale(.9);
        color: $cyan-R;
        font-weight: 600;
        i{
            color:$cyan-R ;
        }
    }
    .action-btn {
        display       : flex;
        align-items   : center;
        flex-direction: column;
        margin-top    : 50px;
    }

    .error-box {
        margin-top: -17px !important;
    }

    .sign-out {
        flex-direction: row;
        flex-wrap     : nowrap;
        padding       : 16px 0 10px;

        .text {
            color    : $white;
            font-size: $font-size-sm;
            margin   : 0 77px;
        }

        .link {
            color          : $black;
            font-size      : $font-size-sm;
            font-weight    : 800;
            text-align     : center;
            text-decoration: underline;
            margin         : 0 -94px;

            &:hover {
                cursor: pointer;
                color : $cyan-R;
            }
        }
    }
}



/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width:768px) {
    .container-fluid {
        background-image     : url('../../assets/pic/mobileModee.jpg');
        background-repeat    : no-repeat;
        background-size      : cover;
        background-attachment: fixed;
        background-position  : right bottom;
        width                : calc(100% + 55px);
        height               : calc(100vh + 105px);

        .card {
            margin: 20px 70px auto;

            input {
                width: 250px;
            }

            .text {
                margin: 0 56px;
            }

            .link {
                margin: 0 -120px;
            }

        }

    }
}