<div class="container-fluid pt-4" >
    <div [formGroup]="formLogin">
        <div class="card p-0 ">
            <div class="card-body">
                <div class="row"> 
                    <h5 class="card-title">LOGIN</h5>
                </div>
                <div class="row mt-4">
                    <input class="form-control  position-relative" autofocus type="text" formControlName="userName"
                        [ngClass]="{
                          error: formLogin.get('userName')?.value === '' && isClickOnSaveBtn 
                    }" required />
                    <label class="col-form-label-sm card-text position-absolute mt-2">
                        نام کاربری
                        <i class="fas fa-user position-absolute"> </i>
                    </label>
                    <div class="error-box">
                        <app-error-message *ngIf="
                            !formLogin.get('userName')?.valid &&
                            isClickOnSaveBtn &&
                            formLogin.get('userName')?.value ===''" [message]="'فیلد خالی است'">
                        </app-error-message>
                    </div>
                </div>
                <div class="row pt-0 mt-4">
                    <input class="form-control  position-relative" type="text" formControlName="password" [ngClass]="{
                            error:  formLogin.get('password')?.value ==='' && isClickOnSaveBtn
                        }" required />
                    <label class="col-form-label-sm card-text position-absolute mt-2">
                        رمزعبور
                        <i class="fas fa-lock position-absolute"> </i>
                    </label>
                    <div class="error-box">
                        <app-error-message *ngIf="
                                        !formLogin.get('password')?.valid &&
                                        isClickOnSaveBtn &&
                                        formLogin.get('password')?.value ===''" [message]="'فیلد خالی است'">
                        </app-error-message>
                    </div>
                </div>
                <recaptcha class="mt-3 pt-2 "  formControlName="captcha" (scriptLoad)="onScriptLoad()" (scriptError)="onScriptError()">
                </recaptcha>
                <div class="action-btn row mt-3">
                    <div class="col-sm-12">
                        <button class="button buttonR-primary button-sm-3 " [disabled]="formLogin.invalid" value="Submit"
                            type="submit" (click)="login()">ورود</button>
                    </div>

                </div>
                <div class="row sign-out w-100">
                    <div class="col-sm-10 ">
                        <span class="text">حساب کاربری ندارید؟</span>
                    </div>
                    <div class="col-sm-2 ">
                        <span class="link" [routerLink]="'../register'"> ثبت نام</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>