
<div class="container p-2" *ngIf="formUser">
    <div class="row content  mt-3" >
        <div class=" col-sm-6 col-lg-6 col-xl-5 offset-lg-1 border-col p-3 mt-4 position-relative">
            <label class="title ">اطلاعات کاربر </label>
            <form [formGroup]="formUser">
                <label class="col-md-form-label-sm ">نام</label>
                <input class="form-control" type="text" formControlName="firstName"
                    [ngClass]="{ error: (formUser.get('firstName')?.invalid  ) && isClickOnSaveBtn}" />
                <label class="col-form-label-sm mt-2">نام کاربری</label>
                <input class="form-control" type="text" formControlName="userName"
                    [ngClass]="{ error: formUser.get('userName')?.invalid && isClickOnSaveBtn }" />

                <label class="col-form-label-sm mt-1">ایمیل </label>
                <input class="form-control" type="text" formControlName="email"
                    [ngClass]="{ error: (!formUser.get('email')?.valid || formUser.get('email')?.value === '') && isClickOnSaveBtn}" />

                <div class="mt-4 action-btn">
                    <button class="button button-primary button-sm-1 " type="submit" (click)="save()">ذخیره</button>

                    <button class="button  button-cancel button-sm-1 " type="button">انصراف</button>
                </div>
            </form>
        </div>

        <!-- RESET PASSWORD -->
        <div class="col-sm-6 col-lg-6 col-xl-5 p-3 mt-4 border-col position-relative ">
            <label class="col-form-label-sm "> رمز عبور فعلی</label>
            <input class="form-control" type="text" [(ngModel)]="passInfo.currentPass"
            />    <!-- [ngClass]="{error: (passInfo.currentPass === null || passInfo.currentPass !== PasswordLC) && isClickSavePassBtn }"  -->
            <!-- <app-error-message *ngIf="
                        (passInfo.currentPass === '' ||  passInfo.currentPass !== PasswordLC ) && isClickSavePassBtn"
                [message]="passInfo.currentPass === null ?'فیلد خالی است': passInfo.currentPass !== PasswordLC ?'رمز عبور صحیح نمی باشد' :'' ">
            </app-error-message> -->

            <label class="col-form-label-sm mt-3"> رمزعبور جدید</label>
            <input class="form-control" type="text" [(ngModel)]="passInfo.newPass"
                [ngClass]="{error: passInfo.newPass === null && isClickSavePassBtn}" />
            <app-error-message *ngIf="
                passInfo.newPass === null &&
                isClickSavePassBtn" [message]="'فیلد خالی است'">
            </app-error-message>
            <div class="mt-4 action-btn">
                <button class="button button-primary button-sm-1 " type="submit" (click)="save()">ذخیره</button>

                <button class="button  button-cancel button-sm-1 " type="button">انصراف</button>
            </div>
        </div>
    </div>
</div>