<div class="container p-1">
  <div class="row p-4 border-bottom border-2 border-secondary">
    <div class="col-12 col-sm-12">
      <button [routerLink]="'../create'">ثبت پرواز</button>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-12 col-sm-12" style="width: 100%; overflow-x: auto;">
      <table class=" tabel-danger table-hover table align-middle table-striped table-borderless">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">مبدا</th>
            <th scope="col">مقصد</th>
            <th scope="col">مبلغ</th>
            <th scope="col">تاریخ</th>
            <th scope="col">خط پرواز</th>
            <th scope="col">backFlightId</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let flight of listFlight trackBy:flightById">
            <td scope="col">{{flight.id}}</td>
            <td >{{flight.source}}</td>
            <td>{{flight.distination}}</td>
            <td>{{flight.price}}</td>
            <td>{{flight.date  | date:'longTime'}}</td>
            <td>{{flight.airlineId}}</td>
            <td>{{flight.backFlightId}}</td>
            <td>
              <i class="fas fa-edit p-2 icon" [routerLink]="'../update/' + flight.id"></i>
              <i class="fas fa-trash p-2  icon" (click)="delete(flight.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>