<div  dir="rtl"    class="container p-1">
  <div id="nav-top"  class="row ">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">
      <app-search-box
        [placeHolder]="'جستجو'"
        (keyupChange)="onKeyup($event)"
        [size]="'small'"
      ></app-search-box>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">
      hjghjg
    </div>
  </div>
  <div id="content"  class="row pt-2">
    <div class="col-12 col-sm-12" style="width: 100%; overflow-x: auto;">
      <table class="table-hover caption-top table align-middle ">
        <caption class="">
          <div class="row flex-row justify-content-between align-items-center p-0">
            <h6 class="col-md-3 "> لیست پروازها</h6>
            <div class="btn-save col-md-9 " >
              <button type="submit" class="button-primary button-sm-0 float-right">SAVE</button>
              <i class=" button-save fas fa-plus float-left" [routerLink]="'../create'"></i>
            </div>            
          </div>
        </caption>
        <thead class=""> 
          <tr>
            <th scope="col">#</th>
            <th scope="col">مبدا</th>
            <th scope="col">مقصد</th>
            <th scope="col">مبلغ</th>
            <th scope="col">تاریخ</th>
            <th scope="col">خط پرواز</th>
            <th scope="col">backFlightId</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let flight of listFlight trackBy:flightById">
            <td scope="col">{{flight.id}}</td>
            <td >{{flight.source}}</td>
            <td>{{flight.distination}}</td>
            <td>{{flight.price}}</td>
            <td>{{flight.date  | date:'longTime'}}</td>
            <td>{{flight.airlineId}}</td>
            <td>{{flight.backFlightId}}</td>
            <td>
              <i class="fas fa-edit p-2" [routerLink]="'../update/' + flight.id"></i>
              <i class="fas fa-trash p-2 " (click)="delete(flight.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>