@import "../../../assets/styles/custom-kit/variable.scss";

.container-fluid {
    min-width: 100%;
    height   : 100%;


    .header {
        background-image          : url(../../../assets/pic/reserve-header.jpg);
        background-repeat         : no-repeat;
        background-size           : cover;
        background-position       : center center;
        height                    : calc(100vh - 140px);
        position                  : relative;
        border-bottom-left-radius : $radius-sm;
        border-bottom-right-radius: $radius-sm;

        display        : flex;
        flex-direction : column;
        justify-content: flex-end;
        align-content  : center;
        padding-bottom : 15px;
    }



    .back-card {
        position  : absolute;
        background: rgba(248, 248, 252, 0.5);
        width     : calc(100% - 50px);
        height    : 140px;
        right     : 38px;
        bottom    : 50px;
        box-shadow: $box-shadow-sm;
        z-index   : 30;
    }

    .content-card {
        margin-top: -37px;

        i {
            color: $yellow-40;
            &:hover {
                cursor    : pointer;
                transition: transform 0.2s ease-out; // speed to change size 1 to size 2 on HOVER
                transform : scale(1.2); ////size buttom on hover ob self
            }
        }

        .fa-arrow-circle-right {
            margin-right: -30px;
        }

        .position-date {
            margin-top: -22px;

        }

        .btnDiv {
            display        : flex;
            justify-content: flex-end;
        }
    }

    .input-Date {
        text-align      : left;
        font-size       : $font-size-2;
        border          : 1px solid $black !important;
        background-color: rgba(255, 255, 255, 0.7) !important;


        &:focus {
            border    : 1px solid $yellow-60 !important;
            box-shadow: none !important;
        }

        &:disabled {
            background-color: rgba(255, 255, 255, 0.4) !important;
            border          : 1px solid $cool-gray-70 !important;
            cursor          : not-allowed;
        }
    }

    .slideshowImg {
        min-width       : 100%;
        height          : auto;
        background-color: $cool-gray-90;
        box-shadow      : $box-shadow-sm;
        border-radius   : $radius-sm;
        z-index         : 0 !important;

    }

   

    .mode {
        width: 125px !important;
    }

}


@media (max-width:768px) {
    .container-fluid {
        min-width: 100%;
        height   : 100%;

        .header {
            max-width: 768%;
            height   : calc(100vh - 745px) !important;

        }
    }
}
// ::ng-deep .multiselect-dropdown .dropdown-btn {
//     border          : 1px solid $black !important;
//     background-color: rgba(255, 255, 255, 0.7) !important;
//     font-size       : $font-size-2;

//     &:focus {
//         border: 1px solid $yellow-60 !important;
//     }
// }