<div class="container" [@animImageSlider]="counter">
  <ng-container *ngFor="let img of images; let i=index">
    <div class=""  *ngIf="i===counter">
			<img [src]="img" class="slideshowImg"/>
    </div>
	</ng-container>
  <button type="button" class="leftBtn position-absolute " (click)="onPrevious()" [disabled]="counter===0">
    <i class="fas fa-chevron-circle-left"></i>
  </button>
  <button type="button" class=" position-absolute  " (click)="onNext()" [disabled]="this.counter == this.images.length - 1">
    <i class="fas fa-chevron-circle-right"></i>
  </button>
</div>