<div class="container-flude  d-flex" dir="rtl ">ّّ
    <div class="sidebar p-0 ">
        <!-- <div  ngclass="col-md-3 col-xl-2 px-sm-2 : !navbarOpen"> 
         <app-sidebar [(size)]="navbarOpen"></app-sidebar> -->
        <app-sidebar></app-sidebar>
    </div>
    <div class="w-100"> 
        <div class=" pl-0 mr-0">
            <!-- <div class="row p-0">
                    <div class="col-12"> -->
            <nav class="navbar-fixed-top  m-0">
                <app-header></app-header>
            </nav>
        </div>
        <!--  </div> -->
        <div class=" pl-0 pt-3">
            <!-- <div class="col-12"> -->
            <router-outlet></router-outlet>
            <!-- </div> -->
        </div>
    </div>
</div>
<!-- <app-footer></app-footer>
    <div class="bg-gray panel-main-container w-100">
        <div class="mx-5 mt-5 bg-white panel-container">
        </div>
    </div> -->