@import "../../assets/styles/custom-kit/variable.scss";       
*{
    font-size: $font-size-1;
 }

.container-flude{
    width: 100%;
    background-color: $warm-gray-10;
} 
.sidebar{
    z-index: 9;
}