<div class="content" *ngIf="formAirline">
    <form  [formGroup]="formAirline">
        <div class="form-class"> 
            <label>نام</label>
            <input formControlName="name" [ngClass]="{
                error: (!formAirline.get('name')?.valid || formAirline.get('name')?.value === '') && isClickOnSaveBtn
              }" />
              <app-error-message 
              *ngIf="
                !formAirline.get('name')?.valid &&
                isClickOnSaveBtn &&
                !formAirline.get('name')?.value"
              [message]="'Required'"
            ></app-error-message>
            <label>شهر</label>
            <ng-multiselect-dropdown [placeholder]="'شهر'" [settings]="dropdownSettings" [data]="listCity"
                (onSelect)="onCitySelect($event)" formControlName="city" [ngClass]="{
                    error: (!formAirline.get('city')?.valid || formAirline.get('city')?.value === '') && isClickOnSaveBtn
                  }">
            </ng-multiselect-dropdown>
            <app-error-message 
            *ngIf="
              !formAirline.get('city')?.valid &&
             isClickOnSaveBtn &&
              !formAirline.get('city')?.value"
            [message]="'Required'"
          ></app-error-message>
            <label>کلاس نرخی</label>
            <ng-multiselect-dropdown [placeholder]="'کلاس نرخی'" [settings]="dropdownSettings" [data]="listPriceClass"
                (onSelect)="onPriceClassSelect($event)" formControlName="priceClass" [ngClass]="{
                    error: (!formAirline.get('priceClass')?.valid || formAirline.get('priceClass')?.value === '') && isClickOnSaveBtn
                  }">
            </ng-multiselect-dropdown>
            <app-error-message 
            *ngIf="
              !formAirline.get('priceClass')?.valid &&
             isClickOnSaveBtn &&
              !formAirline.get('priceClass')?.value"
            [message]="'Required'"
            ></app-error-message>
            <label>وزن مجاز بار</label>
            <ng-multiselect-dropdown 
                [settings]="dropdownSettingsLoad" 
                [placeholder]="'وزن مجاز بار'"  
                [data]="listLoadWeight" 
                (onSelect)="onLoadSelect($event)" 
                formControlName="loadWeight"
                [ngClass]="{
                    error: (!formAirline.get('loadWeight')?.valid || formAirline.get('loadWeight')?.value === '') && isClickOnSaveBtn
                  }">
            </ng-multiselect-dropdown>
            <app-error-message 
            *ngIf="
              !formAirline.get('loadWeight')?.valid &&
              isClickOnSaveBtn &&
              !formAirline.get('loadWeight')?.value"
            [message]="'The minimum weight load is 20 kg'"
          ></app-error-message>
        </div>
        <button type="submit" (click)="save()">ذخیره</button>
        <button type="button" (click)="cancel">انصراف</button>
    </form>
</div>