<div class="col-sm-auto position-relative ">
    <div class="btn-collapse position-absolute  ">
        <button class="button-collapse" id="sidebarCollapse" (click)="toggleNavbar()"><i class=" fa fa-bars"
                data-toggle="collapse" data-target="#sidebar" aria-expanded="false"
                aria-controls="#sidebar"></i></button>
    </div>
    <div id="sidebar" class="collapse " [ngClass]="{ 'active': navbarOpen }">
        <div class="sidebar-header  profile border-bottom border-1 border-white ">
            <div class=" d-flex justify-content-between mt-2">
                <img [src]="userImg" alt="Admin" width="110" height="110"
                    class="rounded-circle box-shadow-lg">
            </div>
        </div>
        <div class="sidebar-items">
            <div class=" pr-2   d-flex flex-row justify-content-start align-items-center item-menu"
                [routerLink]="'./profile'">
                <i data-bs-toggle="" class="fas fa-home  p-2 "></i>
                <span>داشبورد</span>
            </div>
            <div class=" pr-2   d-flex flex-row justify-content-start align-items-center item-menu"
                [routerLink]="'../client/reserved'">
                <i data-bs-toggle="" class="fas fa-file-alt  p-2"></i>
                <span>رزرو شده</span>
            </div>

            <div class=" pr-2  d-flex flex-row justify-content-start align-items-center item-menu">
                <i data-bs-toggle="" class="fas fa-sign-out-alt  p-2" (click)="logout()"></i>
                <span>خروج</span>
            </div>
        </div>
    </div>
</div>