
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
    font-family: sans;
    src: url(assets/fonts/Sans.ttf) format("truetype");
  }
  @import "assets/styles/custom-kit/variable.scss";
*{
  font-family: 'sans';
}
