@import "./custom-kit/variable.scss";

ng-multiselect-dropdown{

    &.error {
        .multiselect-dropdown{
        outline: $border-size-sm solid $error-color;}
    }
}

input{
    &.error{
        outline: $border-size-sm solid $error-color;
        outline-offset: -2px;
        border-bottom-color: transparent;
    }
}

ngb-timepicker{
    &.error input{
        outline: $border-size-sm solid $error-color;
        outline-offset: -2px;
        border-bottom-color: transparent;
    }
}
