<div class="container-fluid pt-5" *ngIf="formRegister">
    <div class="card  ">
        <div class="card-body p-0">
            <form [formGroup]="formRegister">
                <div class="row content">
                    <div class="row mt-1 ">
                        <div class="col-sm-12 mt-2" style="text-align:center;">
                            <h6> ثبت نام</h6>
                        </div>
                        <div class="col-md-6 ">
                            <label class="col-form-label-sm col-2">نام</label>
                            <input class="form-control" type="text" formControlName="firstName"
                                [ngClass]="{ error: (formRegister.get('firstName')?.invalid  ) && isClickOnSaveBtn}" />
                            <div class="error-box">
                                <app-error-message *ngIf="
                                    formRegister.get('firstName')?.invalid &&  isClickOnSaveBtn"
                                    [message]=" !formRegister.get('firstName')?.value ? 'فیلدخالی است' :''">
                                </app-error-message>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label-sm col-3">نام کاربری</label>
                            <input class="form-control" type="text" formControlName="userName"
                                [ngClass]="{ error: formRegister.get('userName')?.invalid && isClickOnSaveBtn }" />
                            <div class="error-box">
                                <app-error-message *ngIf="
                                    formRegister.get('userName')?.invalid && isClickOnSaveBtn"
                                    [message]="
                                        !formRegister.get('userName')?.value ? 'فیلدخالی است' :
                                        5 > formRegister.get('userName')?.value?.length  ?'حداقل طول نام کاربری 5 کاراکتر هست.' :''">
                                </app-error-message>
                            </div>
                        </div>
                    </div>
                    <div class="row  mt-4 ">
                        <div class="col-md-6">
                            <label class="col-form-label-sm"> رمزعبور</label>
                            <input class="form-control" type="text" formControlName="password" [ngClass]="{
                            error: formRegister.get('password')?.invalid && isClickOnSaveBtn}" />
                            <div class="error-box">
                                <app-error-message *ngIf="formRegister.get('password')?.invalid && isClickOnSaveBtn"
                                    [message]="
                                    !formRegister.get('password')?.value ? 'فیلدخالی است' :
                                    5 > formRegister.get('password')?.value?.length  ?'حداقل طول رمز عبور  5 کاراکتر هست.' :''">
                                </app-error-message>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <label class="col-form-label-sm"> تکرار رمزعبور</label>
                            <input class="form-control" type="text" formControlName="passconfirm"
                                [ngClass]="{ error:                             
                                    (formRegister.get('password')?.value !==formRegister.get('passconfirm')?.value|| formRegister.get('passconfirm')?.invalid) && isClickOnSaveBtn }" />
                            <div class="error-box">
                                <app-error-message
                                    *ngIf=" isClickOnSaveBtn && (formRegister.get('passconfirm')?.invalid || formRegister.get('password')?.value !==formRegister.get('passconfirm')?.value)"
                                    [message]="
                                        !formRegister.get('passconfirm')?.value ? 'فیلدخالی است' :
                                        formRegister.get('password')?.value !==formRegister.get('passconfirm')?.value ?'رمز عبور ها یکسان نیست' :''">
                                </app-error-message>
                            </div>
                        </div>
                    </div>
                    <div class=" row mt-4 ">
                        <div class="col-md-6 ">
                            <label class="col-form-label-sm">ایمیل </label>
                            <input class="form-control" type="text" formControlName="email"
                                [ngClass]="{
                                error: (!formRegister.get('email')?.valid || formRegister.get('email')?.value === '') && isClickOnSaveBtn}" />
                            <div class="error-box">
                                <app-error-message *ngIf="                                   
                                    formRegister.get('email')?.invalid &&
                                    isClickOnSaveBtn " [message]="
                                        !formRegister.get('email')?.value ? 'فیلدخالی است' :
                                        formRegister.get('email')?.errors?.pattern ?'ایمیل نامعتبر است' :''">
                                </app-error-message>
                            </div>
                        </div>
                        <div class="col-md-6" *UserRoleEnum="'ADMIN'">
                            <label class="col-form-label-sm col-2">سمت</label>
                            <ng-multiselect-dropdown class="form-control-sm col-5 x" [placeholder]="'سمت'"
                                [settings]="dropdownSettings" [data]="listRoles" (onSelect)="onRoleSelect($event)"
                                formControlName="role" [ngClass]="{
                                    error: formRegister.get('role')?.invalid && isClickOnSaveBtn
                                  }">
                            </ng-multiselect-dropdown>

                            <div class="error-box">
                                <app-error-message *ngIf="
                                  formRegister.get('role')?.invalid &&
                                  isClickOnSaveBtn" [message]="'فیلد خالی است'">
                                </app-error-message>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 d-inline-flex justify-content-md-center p-0">
                        <div class="col-sm-4 col-md-6"></div>
                        <div class="col-sm-4 col-md-3 ">
                            <button class="button button-primary button-sm-1 " type="submit"
                                (click)="save()">ذخیره</button>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <button class="button button-cancel button-sm-1  " type="button"
                                (click)="cancel()">انصراف</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer position-relative">
                    <span [routerLink]="'../login'">ورود به سیستم</span>
                </div>
            </form>
        </div>
    </div>
    <!-- {{formRegister?.value|json}} -->
</div>